// Variables:
gutter = 10px

.grid
	clearfix()

.col
	float left
	padding gutter 0 gutter gutter

	.grid &:last-of-type
		padding-right gutter

	.grid &.no-gutter
		padding 0

for num in ( 1..12 )
	.span-{num}
		// These classes are flexible with their `width`s
		width 100%
		@media medium
			width ( num / 12 * 100 )%
	.col-{num}
		// These classes will always stand their `width`
		width ( num / 12 * 100 )%