.card
	display block // in case this style is applied to an `anchor` tag
	min-height 200px
	background white

	&:hover
		border-bottom 0 // for `anchor` tags

	hr
		border-bottom 1px solid pacifica

.card__header
	color white
	background pacifica
	padding 20px

.card__inner
	color lighten( black, 20% )
	padding 10px