<ul class="list">
	<li ng-repeat="customer in customers">
		<strong>ID</strong> {{ customer.id }}
		<br />
		<span ng-hide="!customer.customername">
			<strong>Name</strong> {{ customer.customername }}
			<br />
		</span>
		<span ng-hide="!customer.productname">
			<strong>Product</strong> {{ customer.productname }}
			<br />
		</span>
		<span ng-hide="!customer.status">
			<strong>Status</strong> {{ customer.status }}
			<br />
		</span>
		<a href="#/customers/{{ customer.id }}">view details</a>
	</li>
</ul>