<div class="grid">
	<div class="col span-3 list-control">
		<span class="small upper">Showing</span>
		<br />
		<select name="custFltr" class="frm-ctrl dropdown" ng-model="custFltr">
			<option value="">All</option>
			<option value="New">New</option>
			<option value="OrderPlaced">OrderPlaced</option>
			<option value="InProgress">InProgress</option>
			<option value="Cancelled">Cancelled</option>
			<option value="Rejected">Rejected</option>
			<option value="Support">Support</option>
		</select>
	</div><!-- .span-3 -->
	<div class="col span-3 list-control">
		<span class="small upper">Sorted by</span>
		<br />
		<select name="custSortOrder" class="frm-ctrl dropdown" ng-model="sortOrder">
			<option value="">None</option>
			<option value="customername">Name A-Z</option>
			<option value="-customername">Name Z-A</option>
		</select>
	</div><!-- .span-3 -->
	<div class="col span-6 t-right list-control">
		<br />
		<input type="image" class="frm-ctrl btn btn--sq" src="assets/img/reload-white.png" width="50" ng-click="reload()">
	</div><!-- .span-6 -->
</div><!-- .grid -->
<div class="grid">
	<div class="span-4 card__wrapper inline-blk" ng-repeat="customer in filteredCustomers = ( customers | orderBy:sortOrder | filter:custFltr )">
		<a href="#/customers/{{ customer.id }}" class="card">
			<div class="card__header center">
				{{ customer.customername }}
			</div><!-- .card__header -->
			<div class="card__inner">
				<div class="grid">
					<div class="col col-4">
						<span class="small upper">Cust ID</span>
					</div><!-- .col-4 -->
					<div class="col col-8 t-right">
						{{ customer.id }}
					</div><!-- .col-8 -->
				</div><!-- .grid -->
				<div class="grid">
					<div class="col col-4">
						<span class="small upper">Product</span>
					</div><!-- .col-4 -->
					<div class="col col-8 t-right">
						{{ customer.productname }}
					</div><!-- .col-8 -->
				</div><!-- .grid -->
				<hr />
				<div class="grid">
					<div class="col col-4">
						<span class="small upper">Status</span>
					</div><!-- .col-4 -->
					<div class="col col-8 t-right">
						{{ customer.status }}
					</div><!-- .col-8 -->
				</div><!-- .grid -->
			</div><!-- .card__inner -->
		</a><!-- .card -->
	</div><!-- .span-4 -->
	<p class="center" ng-show="!filteredCustomers.length">
		<br />
		No customers found
	</p>
</div><!-- .grid -->