<div class="center" ng-controller="headerCtrl">
	<p ng-hide="isLoggedIn">
		<br />
		<br />
		<img src="assets/img/vantage-logo-white.png" alt="Vantage" width="100">
		<br />
		<img src="assets/img/vantage-logo-text-white.png" alt="Vantage" width="110">
	</p>
	<div class="grid" ng-show="isLoggedIn">
		<div class="col span-6 user-nav__site-logo">
			<img src="assets/img/vantage-logo-white.png" alt="Vantage" width="80" class="align-middle">
			&nbsp;
			<img src="assets/img/vantage-logo-text-white.png" alt="Vantage" width="90" class="align-middle">
		</div><!-- .span-6 -->
		<div class="col span-6 no-gutter user-nav__info" style="padding-top: 25px">
			<img src="assets/img/user-white.png" alt="User" width="40" class="align-middle">
			&nbsp;
			{{ userDispName }}
			&nbsp;
			|
			&nbsp;
			<a href="#/logout">Logout</a>
		</div><!-- .span-6 -->
	</div><!-- .grid -->
</div>
<br />