<div class="center">
	<form name="loginFrm" class="col-4 inline-blk" ng-submit="login()">
		<div class="grid">
			<div class="col col-2 ico--login">
				<label for="username">
					<img src="assets/img/user-gray.png" alt="Username">
				</label>
			</div>
			<div class="col col-10 no-gutter">
				<input id="username" type="text" class="frm-ctrl width-full tb--login" placeholder="Username" ng-model="reqObj.user.username" autocomplete="off" spellcheck="false" required>
			</div>
		</div>
		<hr />
		<div class="grid">
			<div class="col col-2 ico--login">
				<label for="password">
					<img src="assets/img/padlock-gray.png" alt="Password">
				</label>
			</div>
			<div class="col col-10 no-gutter">
				<input id="password" type="password" class="frm-ctrl width-full tb--login" placeholder="Password" ng-model="reqObj.user.password" required>
			</div>
		</div>

		<button class="frm-ctrl btn width-full">Login</button>
	</form>
	<p>{{ errorMsg }}</p>
	<br />
</div>