.center
	text-align center

.t-left
	text-align left

.t-right
	text-align right

.upper
	text-transform uppercase

.hide
	display none !important
	visibility hidden !important

.show
	display block !important

.left
	float left

.right
	float right

.underline
	border-bottom 1px solid

.overline
	border-top 1px solid

.loose
	letter-spacing 1px

.inline-blk
	display inline-block
	vertical-align top

.highlight
	padding 3px 10px
	background rgba( black, 0.3 )
	border-radius 1.6rem

.mono
	font-family mono

.width-full
	width 100%