// Import fonts:
@import url( "http://fonts.googleapis.com/css?family=Open+Sans" )

// Typogaphy related config
mono       = "Bitstream Vera Sans Mono", Consolas, Courier, monospace
open-sans  = "Open Sans", Calibri, Arial, sans-serif

// Media queries:
medium = "screen and ( min-width:  768px )"
large  = "screen and ( min-width:  992px )"
xlarge = "screen and ( min-width: 1200px )"